name: Form Recognizer - Build and deploy

on:
  push:
    branches:
      - jasonBuildTweaking
    paths-ignore:
      - 'build-artifacts/**'
  pull_request:
    branches:
      - jasonBuildTweaking
    paths-ignore:
      - 'build-artifacts/**'

env:
  OUTPUT_NAME: FormRecognizer

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "5.0.103"

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build with dotnet
        run: dotnet build --configuration Release src

      - name: dotnet publish
        run: dotnet publish -c Release -o ${{env.DOTNET_ROOT}}/output src

      - name: Deploy to staging slot
        if: success() && github.event_name == 'pull_request'
        uses: azure/webapps-deploy@v2
        with:
          app-name: "formrecognizer-showcase"
          slot-name: "staging"
          publish-profile: ${{ secrets.AzureAppService_Staging }}
          package: ${{env.DOTNET_ROOT}}/output

      - name: Deploy to production slot
        if: success() && github.event_name != 'pull_request'
        uses: azure/webapps-deploy@v2
        with:
          app-name: "formrecognizer-showcase"
          slot-name: "production"
          publish-profile: ${{ secrets.AzureAppService_Production }}
          package: ${{env.DOTNET_ROOT}}/output

      # - name: Zip stage output
      #   if: success() && github.event_name == 'pull_request'
      #   working-directory: ${{env.DOTNET_ROOT}}/output
      #   run: sudo zip -FS -r ${{ github.workspace }}/build-artifacts/stage/${{env.OUTPUT_NAME}}.zip .

      - name: Zip prod output
        if: success() && github.event_name != 'pull_request'
        working-directory: ${{env.DOTNET_ROOT}}/output
        run: sudo zip -FS -r ${{ github.workspace }}/build-artifacts/prod/${{env.OUTPUT_NAME}}.zip .

      - name: Overwrite and check-in zip
        if: success()
        run: |
          git config --global user.name 'github action commit'
          git config --global user.email 'githubactioncheckin@users.noreply.github.com'
          git add .
          git commit -m "Build zip from commit:$(git rev-parse HEAD)"
          git push

      # - name: Deploy artifact to Azure Storage
      #   if: success() && github.event_name == 'pull_request'
      #   uses: bacongobbler/azure-blob-storage-upload@v1.1.1
      #   with:
      #     source_dir: ${{ github.workspace }}
      #     sync: false
      #     container_name: ${{env.AZURE_STORAGE_CONTAINER_NAME_STAGING}}
      #     connection_string: ${{ secrets.ARTIFACTS_AZURE_STORAGE_CONNECTION_STRING }}
      #     extra_args: "--pattern ${{env.OUTPUT_NAME}}.zip"

      # - name: Deploy artifact to Azure Storage
      #   if: success() && github.event_name != 'pull_request'
      #   uses: bacongobbler/azure-blob-storage-upload@v1.1.1
      #   with:
      #     source_dir: ${{ github.workspace }}
      #     sync: false
      #     container_name: ${{env.AZURE_STORAGE_CONTAINER_NAME_PRODUCTION}}
      #     connection_string: ${{ secrets.ARTIFACTS_AZURE_STORAGE_CONNECTION_STRING }}
      #     extra_args: "--pattern ${{env.OUTPUT_NAME}}.zip"
