/* @import url("http://fonts.cdnfonts.com/css/segoe-ui-4") */

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Light"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf)
      format("truetype");
  font-weight: 100;
} 

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semilight"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf)
      format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Bold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf)
      format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semibold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf)
      format("truetype");
  font-weight: 700;
}

body {
  font-family: "Segoe UI", sans-serif !important;
}

.btn {
  border-radius: 0;
}

.container {
  max-width: 1400px;
}

.btn-primary {
  background-color: #0078d4;
}

.nav-tabs .nav-item {
  width: 50%;
}

.nav-tabs .nav-item .nav-link {
  width: 100%;
  background-color: white;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-item .nav-link.active,
.nav-tabs .nav-item .nav-link:focus {
  border-radius: 0;
  border: 0 solid white;
  outline: none;
}

.nav-tabs .nav-item .nav-link {
  color: #0078d4;
}
.nav-tabs .nav-item .nav-link.active {
  color: white;
  background-color: #0078d4;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  overflow: hidden;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #0078d4;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

footer {
  z-index: 90;
  padding: 0.7rem 0;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
}

.landing-left-col {
  min-height: 880px;
  /* max-width: 703px; */
  background-image: url("./images/desktop-image.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.documentSelector {
  background-color: #0078d4;
  padding: 1px;
}

.linkedSelector {
  padding: 0px;
  white-space: nowrap;
  color: #a2a2a2;
}

.linked-menu-item {
  color: #a2a2a2;
  padding: 0px;
}

.active-linked-menu-item {
  color: #406fdb;
  text-decoration: underline;
}

.elevated {
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.13);
  border: solid 1px #dedede;
  /* max-height: 700px; */
}

.left-elevated-column {
  padding-right: 20px;
}

.right-elevated-column {
  border-left: solid 1px #b2b2b2;
  padding-left: 20px;
}

.gallery-grid {
  max-height: 640px;
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 15px;
}

.hr2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: solid 1px #707070;
}

.gallery-item {
  max-width: 180px;
  height: 170px;
  border-radius: 10px;
  margin: 15px;
  padding: 20px 0;
  border: solid 1px #cccccc;
  align-self: center;
}

.gallery-item--selected {
  box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.13);
  border: solid 1px #0078d4;
}

.img-thumbnail {
  width: 108px;
  /* height: auto; */
  box-shadow: 0 3px 6px 0 #cccccc;
}

.analyzed-img-result {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

/* should help with out of ratio images, but doesn't */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.cloud-upload-icon {
  width: 110px;
  height: 110px;
  opacity: 0.35;
  margin-bottom: 30px;
  display: inline;
}

.drag-and-drop-container {
  min-height: 520px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.json-pre {
  max-height: 440px;
}

.analyzed-img-container {
  padding: 50px 35px 29.9px 35px;
  border-radius: 10px;
  border: solid 1px #dedede;
}

circle {
  fill: #406fdb;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle svg {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.site-logo {
  /* position: absolute; */
  margin-top: 30px;
}

.site-logo-mobile {
  display: none;
}

.mobile-only-hr {
  display: none;
}

/* 
 * Extra small devices (portrait phones, less than 576px) 
 */
@media (max-width: 576px) {
  .landing-left-col {
    min-height: 261px;
    min-width: 100%;
    background-image: url("./images/mobile-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 69.6%; /* img height/img-width */
    max-width: 100px;
  }

  .site-logo-mobile {
    display: inline;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .site-logo {
    display: none;
  }

  /* hides FAQ link in footer */
  .faq-link {
    display: none;
  }

  .footer-text {
    font-size: 0.8rem;
    -ms-flex-align: stretch;
  }

  .page-title {
    font-size: 1.85rem;
  }

  .cloud-upload-icon {
    width: 45px;
    height: 45px;
    opacity: 0.35;
    margin-bottom: 3px;
    display: inline;
  }

  .drag-and-drop-container {
    min-height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
  }

  .elevated {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.13);
    border: solid 1px #dedede;
    /* max-height: 700px; */
  }

  .right-elevated-column {
    border-left: unset;
  }

  .sub-title {
    margin-top: 30px;
    font-size: 1.2rem;
  }

  .drag-and-drop-help {
    font-size: 1rem;
  }

  .bottom-spacer {
    max-height: 1px;
  }

  .mobile-only-hr {
    display: block;
    margin-top: 30px;
    margin: 30px 5px 0 0;
    border: solid 1px #b2b2b2;
  }
}

/*
 * table specific classes
 */
th {
  /* background: #333; 
  color: white; 
  font-weight: bold;  */
  font-size: 0.85rem;
}
td,
th {
  /* padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left;  */
  font-size: 0.85rem;
}

/* 
 * Implements table styles for mobile devices 
 */

@media only screen and (max-width: 576px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  .collapsed-table {
    width: 100%;
    display: block;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-top: 1px solid #ccc;
    padding: 5px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /*
	Label the data
	*/

  /* Commented as this needs TDs to hava "data-title" attributes */
  /* td:before { content: attr(data-title); } */

  /* This way we don't need data-title attributes in each tr */
  td:nth-of-type(1):before {
    content: "Field:";
  }
  td:nth-of-type(2):before {
    content: "Value:";
  }
  td:nth-of-type(3):before {
    content: "Confidence:";
  }
}
